body{
    background-color: #CCC9A1!important;
    color: #280004!important;
    font-family: 'Kanit', sans-serif!important;
}

ul li{
  margin-left: 10px;
}

.text_form{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    padding: 5%;
}

.button{
    padding: 20px 50px;
    margin: 20px;
    border: none;
    background-color: #A53F2B;
    color: #fff!important;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover{
    background-color: #4C230A;
}

/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: #A53F2B;
    border: #fff 1px solid!important;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
  }

  .tab button:first-child{
    border-radius: 10px 0 0 10px;
  }

  .tab button:last-child{
    border-radius: 0 10px 10px 0;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4C230A;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #4C230A;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .img_graficas{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }

  .highlight_text{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  .highlight_text_v2{
    text-align: center;
    background-color: #fff;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
  }